<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355367387550-nd2kbb9hlmd92sc190kb2ivucug4u568.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355367387550-nd2kbb9hlmd92sc190kb2ivucug4u568</string>
	<key>API_KEY</key>
	<string>AIzaSyASdWYP3lXGuvFTl9U-NfGwXTOJsqLLHI4</string>
	<key>GCM_SENDER_ID</key>
	<string>355367387550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test4</string>
	<key>PROJECT_ID</key>
	<string>fir-57179</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-57179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355367387550:ios:5618b1a2f580020abd968f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-57179-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>